@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.woff2") format("woff2");
  src: url("../font/Lato/Lato-Regular.woff") format("woff");
  src: url("../font/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matisan";
  src: url("../font/Matisan/MatisanScriptPERSONALUSE-Regular.woff2")
    format("woff2");
  src: url("../font/Matisan/MatisanScriptPERSONALUSE-Regular.woff")
    format("woff");
  src: url("../font/Matisan/MatisanScriptPERSONALUSE-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Arial;
}
:root {
  --desktop_xl: 1200px;
  --colorH1SectionFooter: #eec886c2;
  --fondoSectionFooter: #eec886c2;
  --colorEfectoHoover: #ffffff4d;
  --colorPmainfooter: #3b3b22;
  --fontMatisan: "Matisan", cursive;
  --fontLato: "Lato", sans-serif;
}

header img {
  width: 100%;
  display: block;
}
h1,
h2,
h3 {
  font-family: var(--fontMatisan);
}

h1 {
  position: absolute;
  color: var(--colorH1SectionFooter);
  font-size: 9vw;
  top: 15vw;
  left: 20vw;
  font-weight: lighter;
}

.desktop_xl {
  margin: 0 auto;
  max-width: var(--desktop_xl);
  justify-content: center;
}

nav {
  position: sticky;
  top: 0;
  background-color: #d6cf7bda;

  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    list-style: none;
    padding: 12px 0;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;

    &:hover {
      border-bottom: 5px solid #ffffff4d;
      color: #ffffff4d;
    }
  }
}
h2 {
  font-size: 3.8vw;
  color: #a39d5c;
  font-weight: lighter;
}
h3 {
  font-size: 3vw;
  color: #d1ca78;

  font-family: var(--fontLato);
}
p {
  color: var(--colorPmainfooter);
  font-size: 1.4vw;
}
.fondoSectionFooter {
  background-color: var(--fondoSectionFooter);
}

section > div {
  display: flex;
  column-gap: 2rem;

  img {
    display: block;
    height: 100%;
  }
}

.divTextImg {
  text-align: left;
  align-content: center;
}
.ninfas {
  max-width: 45%;
  h3 {
    text-align: start;
    padding: 1rem 0 1rem 0;
  }
}
.agapornis {
  max-width: 45%;
  h3 {
    text-align: end;
    padding: 1rem 0 1rem 0;
  }
}
.ninfas img,
.agapornis img {
  width: 100%;
  height: auto;
}
.avesExoticas {
  h2 {
    text-align: center;
    padding-top: 1rem;
  }
  p {
    padding: 1rem 0 1rem 0;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  padding: 2rem 0 1rem;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: var(--colorPmainfooter);

    &:hover {
      color: var(--colorEfectoHoover);
    }
  }
  li {
    list-style: none;
  }
  p {
    font-weight: 600;
  }
}

.logosRedes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 40%;
    margin-top: 0.5rem;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.contacto {
  padding-left: 5rem;
}

.todo_agapornis {
  display: grid;
  text-align: center;
  padding-bottom: 2rem;

  h2 {
    padding: 1rem 0 1rem 0;
  }
  img {
    width: 90%;
    margin: 0 auto;
  }
  p {
    width: 60%;
    margin: 0 auto;
    font-size: 1.4rem;
    padding-top: 1.5rem;
  }
}

.caracteristicas_agapornis {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: center;
  padding-bottom: 2rem;

  img {
    width: 100%;
    margin: 0 auto;
  }
  .listaCaracteristicas{
    display: flex;
    align-items: center;
  } 
  li {
    list-style: none;
    margin: 0 auto 0.8rem;
    font-size: 1rem;
    text-align: start;
  }
}
.cuidados_agapornis {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  padding-bottom: 2rem;

  img {
    width: 100%;
    margin: 0 auto;
  }
  
  li {
    list-style: none;
    padding-bottom:0.8rem;
    font-size: 1rem;
    text-align: start;
  }
  h3{
    font-size: 1.8rem;
    text-align: start;
    padding-bottom: 1rem;
  }
  .listaCuidados{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

hr {
  width: 75%;
  margin: 0 auto;
  height: 4px;
  background-color: var(--colorPmainfooter);
}
