@font-face {
  font-family: "Amita";
  src: url("./fonts/Amita/Amita-Regular.woff2") format("woff2"),
    url("./fonts/Amita/Amita-Regular.woff") format("woff");
  src: url("./fonts/Amita/Amita-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("./fonts/Roboto/Roboto-Regular.woff") format("woff");
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
:root {
  --width_xl: 1000px;
  --backgroundNav: rgb(255, 228, 196);
  --colorSecundario: #66c6cf;
}
body {
  background-image: url(./img/background.png);
  background-size: cover;
}

header {
  picture img {
    width: 100%;
    display: block;
  }
  .logoKemet {
    position: absolute;
    width: 320px;
    margin: 3rem 0 0 5rem;
  }
}
.containercentral {
  margin: 0 auto;
  width: var(--width_xl);
  h1 {
    margin: 2rem 0 2rem;
  }
}
h1,
h2 {
  font-family: Amita, Arial, Helvetica, sans-serif;
  text-align: center;
}

nav {
  background-color: var(--backgroundNav);
  position: sticky;
  margin-bottom: 2rem;

  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    list-style: none;
    padding: auto;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.destinos {
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    width: 95%;
  }
  p {
    padding-bottom: 1rem;
  }
}

.containerServicios {
  background-color: rgb(255, 228, 196, 0.5);
}
.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.2rem;
  row-gap: 1.2rem;
  width: 100%;
  padding-bottom: 1rem;

  div {
    background-color: white;
    width: 100%;
  }
  h2 {
    color: var(--colorSecundario);
    text-align: center;
  }

  p {
    padding: 1rem;
    font-size: 0.8rem;
  }
}

.h1Servicios {
  color: var(--colorSecundario);
  padding: 2rem;
}

.icons {
  display: block;
  margin: 1rem auto;
}

.quienesSomos {
  display: flex;
  justify-content: space-between;

  div>img {
    border-radius: 50%;
    height: 21rem;
  }

  .quienesSomosTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
  }

}

footer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  padding-top: 3rem;

  div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .redesSociales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;

    .logoTwiter{
      height: 39px;
    }
  }
  
}
