@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/Dancing_Script/DancingScript-SemiBold.woff2")
    format("woff2");
  src: url("../fonts/Dancing_Script/DancingScript-SemiBold.woff") format("woff");
  src: url("../fonts/Dancing_Script/DancingScript-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2");
  src: url("../fonts/Lato/Lato-Regular.woff") format("woff");
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Arial, Helvetica, sans-serif;
}
header img {
  width: 100%;
  display: block;
}
:root {
  --width_xl: 1000px;
  --primaryColor: #053617;
  --secondaryColor: #f7f7f7;
  --enfasiscolor: rgb(205, 248, 85);
}
section > div {
  display: flex;
  justify-content: space-between;
}
section > div > div {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;

  img,
  video {
    width: 100%;
  }
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 2 rem;
    margin: 1rem 0;
  }
}
.desktop_xl {
  margin: 0 auto;
  max-width: var(--width_xl);
}
.fondo_oscuro {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

.textoDerecha {
  text-align: right;
  padding-left: 4rem;
}
.textoIzquierda {
  padding-right: 4rem;
}

h1,
h2 {
  font-family: "Dancing Script";
}

p,
a {
  font-family: "Lato", sans-serif;
}

h1 {
  color: var(--secondaryColor);
  position: absolute;
  right: 15vw;
  top: 15vh;
  font-size: 8vw;
}

nav {
  position: sticky;
  top: 0;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    list-style: none;
    padding: 12px 0;
  }
  a {
    text-decoration: none;
    font-size: 1.2rem;
    color: inherit;

    &:hover {
      border-bottom: 5px solid var(--enfasiscolor);
      color: var(--enfasiscolor);
    }
  }
}


.sectionOpiniones{
  height: 12rem;
  h2 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
  }
}
.opiniones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;

  div {
    display: block;
    width: 100%;
  }
  q {
    font-size: 1.1rem;
    display: block;
  }
  cite {
    font-size: 1rem;
    color: red;
    text-align: right;

    font-style: italic;
  }
  
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  column-gap: 1.5rem;
  padding: 12px;

  .contacto {
    margin-right: 4rem;
  }
  a {
    text-decoration: none;
    color: var(--secondaryColor);
    font-size: 0.8rem;
    &:hover {
      color: var(--enfasiscolor);
    
    }
  }
  li {
    list-style: none;
  }
  p {
    font-weight: 700;
  }
}

.logosRedes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 40%;
    margin-top: 0.5rem;
    &:hover {
      transform: scale(1.1);
    }
  }

}
