@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

:root {
  --desktop-width: 1200px;
}

header {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 1rem 0;
  h1 {
    text-align: center;
    margin: 2rem 0;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--desktop-width);
    margin: 0 auto;

    span {
      font-size: 1.2rem;
    }
  }
}

main {
  max-width: var(--desktop-width);
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
  }
  form fieldset {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    width: 300px;
  }
  form {
    label {
      display: block;
      margin: 1rem 0 0.2rem;
    }
    > div {
      input {
        width: 100%;
        padding: 0.5rem 1rem;
      }
      button {
        width: 100%;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
      #btnLogout {
      background-color: transparent;
      border: 1px solid white;
      border-radius: 5px;
      color: white;
      padding: 0.5rem 0.5rem;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        background-color: white;
        color: black;
      }

      button[type="submit"] {
        background-color: rgb(0, 255, 85);
        color: black;
        &:hover {
          background-color: #00320d;
          color: white;
        }
      }
      button[type="reset"] {
        background-color: rgba(212, 82, 251, 0.998);
        color: black;
        &:hover {
          background-color: rgba(93, 25, 113, 0.998);
          color: white;
        }
      }
      .div-enlaces {
        text-align: center;
        margin: 1rem 0;
        a {
          display: block;
          font-size: 0.8rem;
          margin: 0.5rem 0;
        }
      }
      .condiciones-input {
        font-size: 0.8rem;
      }
    }
  }
}
}
#errorUsuario,
#errorPassword {
  color: red;
  font-size: 0.8rem;
  height: 1.5rem;
}
